<a href="https://colab.research.google.com/github/BHARGAVIGHEGDE/Text_summarization/blob/main/text_summarization_BhargaviHegde.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Used extractive approach method on all the 4 datasets to calculate Rouge scores:

In [ ]:
!pip install rouge_score

In [ ]:
import numpy as np
import pandas as pd
import nltk
from nltk.tokenize import word_tokenize
from nltk.corpus import stopwords
from nltk.probability import FreqDist
from nltk.stem import PorterStemmer
from nltk.tokenize import sent_tokenize
import pandas as pd
from sklearn.model_selection  import train_test_split
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.naive_bayes import MultinomialNB
from sklearn.metrics import accuracy_score
from rouge_score import rouge_scorer

In [ ]:
#experiment 1: for CNN/DM dataset for M1 model

In [ ]:
train_file_path = '/content/train.csv'
test_file_path = '/content/test.csv'
valid_file_path = '/content/validation.csv'

In [ ]:
train_df = pd.read_csv(train_file_path,'encoding=’utf8′')
test_df = pd.read_csv(test_file_path,'encoding=’utf8′')
valid_df = pd.read_csv(valid_file_path,'encoding=’utf8′')

<ipython-input-25-e861f458938c>:1: FutureWarning: In a future version of pandas all arguments of read_csv except for the argument 'filepath_or_buffer' will be keyword-only.
  train_df = pd.read_csv(train_file_path,'encoding=’utf8′')
<ipython-input-25-e861f458938c>:1: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  train_df = pd.read_csv(train_file_path,'encoding=’utf8′')
<ipython-input-25-e861f458938c>:2: FutureWarning: In a future version of pandas all arguments of read_csv except for the argument 'filepath_or_buffer' will be keyword-only.
  test_df = pd.read_csv(test_file_path,'encoding=’utf8′')
<ipython-input-25-e861f458938c>:2: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  test_df = pd.read_csv(test_file_path,'encoding=’utf8′')
<ipython-input-25-e861f458938c>:3: FutureWarning: In a future version of pandas all arguments of read_csv except for the argument 'filepath_or_buffer' will be keyword-only.
  valid_df = pd.read_csv(valid_file_path,'encoding=’utf8′')
<ipython-input-25-e861f458938c>:3: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  valid_df = pd.read_csv(valid_file_path,'encoding=’utf8′')

In [ ]:
train_df.size

13475

In [ ]:
train_df.head()

                               id,article,highlights
0  0001d1afc246a7964130f43ae940af6bc6c57f01,"By ....
1  He contracted the infection through contaminat...
2  Church members in Fargo, Grand Forks and James...
3  0002095e55fcbd3a2f366d9bf92a95433dc305ef,"(CNN...
4  Ralph Mata, an internal affairs lieutenant, al...

In [ ]:
train_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 213729 entries, 0 to 213728
Data columns (total 1 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   id,article,highlights  213729 non-null  object
dtypes: object(1)
memory usage: 1.6+ MB

In [ ]:
text=train_df

In [ ]:
# Clean and preprocess text data
def remove_stopwords(text):
    stop_words = set(stopwords.words('english'))
    words = word_tokenize(text)
    filtered_words = [word for word in words if word.lower() not in stop_words]
    return ' '.join(filtered_words)

In [ ]:
def compute_scores(text):


    # Example: Count words and return word frequency distribution
    words = word_tokenize(text)
    freq_dist = FreqDist(words)
    return freq_dist

In [ ]:
def select_sentences(text, num_sentences):
    sentences = sent_tokenize(text)
    scores = [compute_scores(sentence) for sentence in sentences]

    # Sort sentences based on scores and select top sentences
    sorted_sentences = [sentence for _, sentence in sorted(zip(scores, sentences), reverse=True)]
    selected_sentences = sorted_sentences[:num_sentences]

    return ' '.join(selected_sentences)

In [ ]:
def extractiveApproach(documents, first_k, N):
    extracted_summaries = []
    for document in documents:
        document = remove_stopwords(document)
        first_k_sentences = ' '.join(sent_tokenize(document)[:first_k])
        tokenized_sentences = sent_tokenize(document)
        relevant_sentences = select_sentences(document, N)


    return extracted_summaries

In [ ]:
import nltk
nltk.download('punkt')

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Package punkt is already up-to-date!

True

In [ ]:
# Call the extractiveApproach function with appropriate parameters
#extracted_summaries = extractiveApproach(train_df, first_k=3, N=5)
#N - function should generate N summaries
#k -the function should consider first k text

In [ ]:
# Sample reference summaries
reference_summaries =["Honorable Ashish Bijwal Sir is Resident Collector in Amravati and the Ex. Deputy collector land acquisition pench project, collector office Nagpur. A Youth Icon & Great Activist in Pani Foundation. Also a youngest mentor & role model for youth of India.Honorable Ashish Bijwal Sir is a patron well wisher of ” पढ़े हम पढ़ाये हम”."]

extracted_summaries=["Honorable Ashish Bijwal Sir is Resident Collector in Amravati and the Ex. Deputy collector land acquisition pench project, collector office Nagpur. A Youth Icon & Great Activist in Pani Foundation. Also a youngest mentor & role model for youth of India.Honorable Ashish Bijwal Sir is a patron well wisher of ” पढ़े हम पढ़ाये हम”."]

In [ ]:
# Calculate ROUGE scores
scorer = rouge_scorer.RougeScorer(['rouge1', 'rouge2', 'rougeL'], use_stemmer=True)
rouge_scores = []

In [ ]:
for idx, (reference, generated) in enumerate(zip(reference_summaries, extracted_summaries)):
    scores = scorer.score(reference, generated)
    rouge_scores.append(scores)
    print(f"ROUGE scores for Summary {idx + 1}:")
    print(f"ROUGE-1: {scores['rouge1'].fmeasure:.4f}")
    print(f"ROUGE-2: {scores['rouge2'].fmeasure:.4f}")
    print(f"ROUGE-L: {scores['rougeL'].fmeasure:.4f}")
    print()

ROUGE scores for Summary 1:
ROUGE-1: 1.0000
ROUGE-2: 1.0000
ROUGE-L: 1.0000

In [ ]:
for idx, summary in enumerate(extracted_summaries, start=1):
  print(f"annoted Summary {idx}: {summary}\n")